In [17]:
import pandas as pd

In [18]:
df = pd.read_csv("D:/Data_Acquisition/Unstructured_dataset/finalunstructureddata.csv", encoding ="latin-1")

In [19]:
import nltk

In [20]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

### NLTKâ€™s built-in Vader Sentiment Analyzer will simply rank a piece of text as positive, negative or neutral using a lexicon of positive and negative words. 

### We can utilize this tool by first creating a Sentiment Intensity Analyzer (SIA) to categorize our headlines, then we'll use the polarity_scores method to get the sentiment.

### We'll append each sentiment dictionary to a results list, which we'll transform into a dataframe:

In [21]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer as SIA

sia = SIA()
results = []

for line in df.Heading:
    pol_score = sia.polarity_scores(line)
    pol_score['headline'] = line
    results.append(pol_score)

#results

### The first three represent the sentiment score percentage of each category in our headline, and the "compound" single number that scores the sentiment. Compound ranges from -1 (Extremely Negative) to 1 (Extremely Positive).

In [22]:
df_sentiment_score = pd.DataFrame.from_records(results)
df_sentiment_score.head()

,compound,headline,neg,neu,pos
0,0.0000,UK Prime Minister Boris Johnson and his Irish ...,0.00,1.000,0.000
1,0.2354,Turkish ForeignMin: Turkey not responsible for...,0.11,0.728,0.162
2,0.2500,AUD/USD technical analysis: Aussie easing from...,0.00,0.846,0.154
3,0.0000,USD/JPY advances to session highs above 107.50...,0.00,1.000,0.000
4,0.0000,EUR/NOK off 2-month highs above 10.08,0.00,1.000,0.000

In [23]:
df.shape

(240, 1)

In [30]:
df_sentiment_score.to_csv('sentimentscore1.csv', mode='a', encoding='utf-8', index=False)

In [46]:
df = pd.read_csv("C:/Users/Admin/Desktop/sem I,20192020/WQD7005 Data Mining/Data Acquisition/Assignment 1/sentimentscore1.csv", encoding ="latin-1") 
df2 = df[[ 'Label']]
df3=df2.dropna()

#df2.to_csv('sentimentscoredaily.csv', mode='a', encoding='utf-8', index=False)

        Label
0    0.047183
6   -0.016067
12   0.149350
18   0.004067
24   0.055633
30   0.135383
36  -0.083317
42  -0.059300
48   0.263767
54  -0.097350
60   0.097250
66   0.215333
72   0.032233
78   0.075517
84   0.075083
90   0.067983
96  -0.110217
102  0.054067
108  0.159983
114 -0.082883
120 -0.126550
126  0.060950
132 -0.095150
138  0.132400
144  0.147983
150  0.135350
156 -0.009517
162  0.126100
168  0.039850
174 -0.046850
180 -0.066750
186  0.017650
192  0.037283
198  0.006017
204  0.037717
210 -0.023950
216 -0.120450
222  0.051383
228  0.076583
234 -0.025117

### Let's create a positive label of 1 if the compound is greater than 0.01, and a label of -1 if compound is less than -0.01. Everything else will be 0.

In [52]:
df3.loc[df3['Label'] > 0.01, 'label'] = 1
df3.loc[df3['Label']  < -0.01, 'label'] = -1
df3

C:\Users\Admin\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

        Label  label
0    0.047183    1.0
6   -0.016067   -1.0
12   0.149350    1.0
18   0.004067    NaN
24   0.055633    1.0
30   0.135383    1.0
36  -0.083317   -1.0
42  -0.059300   -1.0
48   1.000000    1.0
54  -0.097350   -1.0
60   0.097250    1.0
66   1.000000    1.0
72   0.032233    1.0
78   0.075517    1.0
84   0.075083    1.0
90   0.067983    1.0
96  -0.110217   -1.0
102  0.054067    1.0
108  0.159983    1.0
114 -0.082883   -1.0
120 -0.126550   -1.0
126  0.060950    1.0
132 -0.095150   -1.0
138  0.132400    1.0
144  0.147983    1.0
150  0.135350    1.0
156 -0.009517    NaN
162  0.126100    1.0
168  0.039850    1.0
174 -0.046850   -1.0
180 -0.066750   -1.0
186  0.017650    1.0
192  0.037283    1.0
198  0.006017    NaN
204  0.037717    1.0
210 -0.023950   -1.0
216 -0.120450   -1.0
222  0.051383    1.0
228  0.076583    1.0
234 -0.025117   -1.0

In [113]:
print(df3.label.value_counts())

print(df3.label.value_counts(normalize=True) * 100)

 1.0    24
-1.0    13
Name: label, dtype: int64
 1.0    64.864865
-1.0    35.135135
Name: label, dtype: float64

In [114]:
df4=df3.dropna()

In [115]:
df4.to_csv('sentimentscorefinal1.csv', mode='a', encoding='utf-8', index=False)

In [93]:
df4=df4[['label']]

In [104]:
df5=df4[:-2]

In [105]:
df5.shape

(35, 1)

In [106]:
df5.head()

    label
0     1.0
6    -1.0
12    1.0
24    1.0
30    1.0

In [108]:
df5.to_csv('sentimentscorefinal.csv', mode='a', encoding='utf-8', index=False)